h1, h2, h3, h4, h5, h6{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.btn{
    border: none;
}

.navbar{
    min-height: 64px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 16px 0px;
    background-color: white;
}

.navbar .container{
    width: 100%;
}

.navbar .container .row{
    width: 100%;
}

.navbar .container .row .col-3 h3{
    font-weight: 700;
    margin: 0px;
}

.navbar .container{
    padding: 0px;
}

.navbar .container .row .col-3{
    padding: 0px 10px;
}

.form-control{
    border: 0px;
}

.form-control .form-search{
    background-color: #F1F1F1;
    width: 100%;
    border-radius: 8px;
    border: 0px;
    padding: 8px 40px 8px 16px;
    outline: none;
}

.form-control button{
    padding: 0px;
    outline: none;
    margin-left: -35px;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.btn-masuk{
    background-color: #3D8AED;
    border-radius: 8px;
    color: white;
    padding: 4px 16px 4px;
}

.link-daftar{
    color: #3D8AED;
    text-decoration: underline;
}

.btn-masuk svg{
    margin-left: 5px;
    height: 18px;
    width: 20px;
    font-weight: bold;
}

.banner-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
  }

.banner-upload .banner-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.banner-upload .banner-edit input {
    display: none;
  }
.banner-upload .banner-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.banner-upload .banner-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.banner-upload .banner-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.banner-upload .banner-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.banner-upload .banner-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#imagePreview{
    background-repeat: no-repeat !important;
}

.banner-preview{
    background-repeat: no-repeat !important;
}

.sub-total{
    background: #F1F1F1;
    height: 72px;
    padding: 16px 64px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.sub-total .col{
    height: 48px !important;
}

.sub-total h4,p{
    margin: 0px !important;
}

.sub-total p{
    font-size: 18px;
}

.sub-total .rp{
    margin-top: 5px !important;
}

.sub-total input{
    font-size: 24px !important;
    font-weight: 700 !important;
    border: 0px;
    padding: 0px 20px 0px 5px;
    background: transparent;
    color: black;
    width: 200px;
    
}

.sub-total input:focus{
    outline: none;
}

.button-beli{
    padding: 8px !important;
    width: 163px;
    font-size: 16px;
    background: #3D8AED !important;
    border-radius: 8px !important;
    color: white !important;
}

@media (min-width:1366px) {
    .tiket{
        width: 100%;
        object-fit: cover;
        background: url('/src/img/tiket-1336px.svg');
    }
}
